.cart-product {
    display: grid;
    grid-template-columns: 2fr repeat(3, 3fr) 1fr;
    gap: 20px;
    align-items: center;
    margin-top: 50px;
    font-weight: 500;
    margin-bottom: 50px;
    text-align: center;
    padding: 10px;
    @media screen and (max-width: 600px) {
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(60px, auto);
    }
}

.cart-product__img {
    width: 150px;
    width: 100%;
    height: auto;
    @media screen and (max-width: 600px) {
        grid-column: 1/3;
    }
}

.cart-product__title {
    font-weight: 700;
    @media screen and (max-width: 600px) {
        grid-column: 3/7;
    }

    & span {
        font-weight: normal;
        display: block;
    }
}

.cart-product__quantity {
    padding: 0 10px;
    font-size: 20px;
}

.cart-product__counter-wrapper {
    @media screen and (max-width: 600px) {
        grid-column: 1/4;
      
       }
}

.cart-product__counter {
    cursor: pointer;
    border: none;
    width: 28px;
    padding: 5px;
    transition: background-color 0.3s linear;
}

.cart-product__counter:hover {
    background-color: green;
    color: white;
}

.cart-product__btn-delete {
    font-size: 35px;
    text-align: right;
    cursor: pointer;
    transition: color 0.3s linear;
    border: none;
    background: none;
}

.cart-product__btn-delete:hover {
    color: red;
}

.cart-product__price {
    @media screen and (max-width: 600px) {
        grid-column: 4/6;
        
      
       }
}