.cart {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 100px;
    background-color: #fff;
}

.cart__title {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 50px;
}

.cart-header {
    display: grid;
    grid-template-columns: 2fr repeat(3, 3fr) 1fr;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px;
    background-color: #ccc;
    text-align: center;
}

.cart-header__name {
    grid-column-start: 2;
}

.cart-footer {
    display: grid;
    grid-template-columns: 2fr repeat(3, 3fr) 1fr;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    background-color: #ccc;
    padding: 10px;
    text-align: center;
}

.cart-footer__quantity {
    grid-column-start: 3;
}

.cart-footer__price {
    grid-column-start: 4;
}
