@import '../../../scss/variables.scss';

.cart {
    margin: 0 auto;
    background-color: #fff;
}

.cart__title {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 50px;
}

.cart-header {
    display: grid;
    grid-template-columns: 2fr repeat(3, 3fr) 1fr;
    gap: 20px;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px;
    background-color: $red-light;
    text-align: center;
    @media screen and (max-width: 768px) {
        display: block;
        p {
            display: none;
            grid-template-columns: 1fr;
            align-items: center;
        }
    }
}

.cart-header__name {
    grid-column-start: 2;
}

.cart-header__btn {
    border: 2px solid $red;
    border-radius: 15px;
    padding: 5px 5px;
    font-size: 16px;
    color: $white;
    cursor: pointer;
    background: $red;
    transition: background 0.3s linear;

    &:hover {
        background: $red-hover;
    }
}

.cart-footer {
    display: grid;
    grid-template-columns: 2fr repeat(3, 3fr) 1fr;
    gap: 20px;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    background-color: $red-light;
    padding: 10px;
    text-align: center;
    @media screen and (max-width: 600px) {
      display: flex;
      justify-content: center;
      gap: 30px;
    }
}

.cart-footer__quantity {
    grid-column-start: 3;
}

.cart-footer__price {
    grid-column-start: 4;
}
