@import '../../../scss/variables.scss';

.sort {
    position: relative;
    width: 240px;
    &__label {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    p {
        margin-right: 10px;
       
    }

    span {
       
        color: $red;
        font-size: 18px;
        border-bottom: 1px solid $red;
        
    }

    &__menu {
        position: absolute;
        right: 0;
        top: 30px;
        box-shadow: 1px 0 5px 0 $red-light;
        border-radius: 15px;
    }

    &__item {
        font-size: 18px;
        padding: 7px 20px;
        cursor: pointer;
        border-radius: 15px;
        transition: all 0.3s linear;

        &:hover {
            background: $red-light;
            color: $white;

        }
    }
}