@import '../../../scss/variables.scss';

.single-pizza {
   
    &__title {
        font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    }

    &__inner {
        padding: 30px 0;
       display: flex;
       justify-content: space-around;
       align-items: center;
       border-top: 1px solid $red-light;
       border-bottom: 1px solid $red-light;
    }

    &__description {
        width: 30%;
    }

    &__text {
        color: $grey;
        line-height: 25px;
    }
}